.container {
  padding: 20px;
}
.container input,.container textarea {
  display: block;
  margin-bottom: 10px;
  width: 100%;
}

.imagePreview {
  margin-top: 10px;
}

.imagePreview Image {
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
}
